<html>
	<head>
		<title> Platform for Patient Centric Collaborative Research </title>

		<!-- CSS includes -->
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/pccr_main.css">
	</head>

	<body style="top: 0px; left: 0px; width: 100%;background-color: white; height: 1000px;">
		<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Platform for Patient Centric Collaborative Care</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
            </ul>
						<!-- 
						Not sure if we will need login here or if we need to have a login widget here. 
						Commenting for now -->
						<!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
						</form> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
		<div class="hero-wrapper container" style="width: 100%; background:url('/static/img/main_bg.jpg');">
			<div class="container" style="position: relative; top: 10px;">
  	    <!-- Main hero unit for a primary marketing message or call to action -->
				<div class="hero-unit" style="background: none; height: 200px;">
					<div style="position: relative; top: 0px; left: 0px; width: 100%; height: 200px; background: black; opacity: 0.3; border-radius: 10px;"></div>					
					<div style="position: relative; color: white; top: -175px; left: 40px; width: 100%; ">
						<h1>Platform for Patient Centric Collaborative Care</h1>
        	<p> Connecting researchers and participants to realize patient centric outcomes easier.</p>
					</div>					
				</div> <!-- Closes hero-unit -->
			</div><!-- end hero-unit-->
		</div><!-- end container -->
		<div class="container">
			<div class="researcher row-fluid" style="height: 200px; margin-top: 20px;text-align: center;"> 
				<div class="researcher-title span3" style="height: 100%; color: #13ACBD"> 
					<h1>Researcher</h1>
					<img src="/static/img/researcher.png" width= 65% height= 65% class="img-rounded"/>
				</div>
				<div class="researcher-landing  landing span9">
					<p class="promo-text"> Rest of the stuff goes here </p>
					<a href="#" class="btn-info btn-large">I am ready to participate</a>
				</div>	
			</div><!-- end participant-container row-fluid-->
			<div class="participant row-fluid" style="height: 200px;margin-top: 20px;text-align: center;color: #055DA9"> 
				<div class="participant-title span3" style="height: 100%"> <h1>Participant</h1>
				
					<img src="/static/img/participant.jpg" width= 75% height= 75% class="img-rounded"/>
				
				</div>
				<div class="participant-landing landing span9">
					<p class="promo-text"> Rest of the stuff goes here </p>
				<a href="#" class="btn-success btn-large">I am ready to participate</a>
			</div><!-- participant-landing end -->
			</div><!-- end participant-container row-fluid-->
	</div> <!-- Close container wrapping both researcher and participant rows -->

      <footer>
        <p>&copy; Company 2012</p>
      </footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>

  </body>

	</body>
</html>
