<div id="my-projects-frame" class="user-tabs" style="display:none; height:
		auto; width: 100%; background: green">
		{% if project_list %}
			{% for project in project_list %}
					<div><a href="/pccr/project/{{project.id}}" class="project_desc"><h3>{{project.project_title}}</h3></a></div>
			{% endfor %}
			<div class="project_desc start-project"><h3> Start a new project</h3></div>
		{% else %}
				<div class="project_desc start-project"><h3>You do not have any projects. Start one now</h3></div>
		{% endif %}
</div>
