{% extends 'skeleton_template.html' %}

{% block main_content%}
		<div class="container">
			<div class="researcher row-fluid" style="height: 200px; margin-top: 20px;text-align: center;"> 
				<div class="researcher-title span3" style="height: 100%; color: #13ACBD"> 
					<h1>Researcher</h1>
					<img src="/static/img/researcher.png" width= 65% height= 65% class="img-rounded"/>
				</div>
				<div class="researcher-landing  landing span9">
					<p class="promo-text"> Rest of the stuff goes here </p>
					<a href="#" class="btn-info btn-large">I am ready to participate</a>
				</div>	
			</div><!-- end participant-container row-fluid-->
			<div class="participant row-fluid" style="height: 200px;margin-top: 20px;text-align: center;color: #055DA9"> 
				<div class="participant-title span3" style="height: 100%"> <h1>Participant</h1>
				
					<img src="/static/img/participant.jpg" width= 75% height= 75% class="img-rounded"/>
				
				</div>
				<div class="participant-landing landing span9">
					<p class="promo-text"> Rest of the stuff goes here </p>
				<a href="#" class="btn-success btn-large">I am ready to participate</a>
			</div><!-- participant-landing end -->
			</div><!-- end participant-container row-fluid-->
	</div> <!-- Close container wrapping both researcher and participant rows -->

	{% endblock %}
