{% extends 'skeleton_template.html' %}

{% block on_load_script %}
$('.project-tab').on({
	'click': function(){
			var current= $(this);
			var doc= $(document);
			try{
				$(doc.data('current')).css({'text-decoration': 'none'});
				$(doc.data('current-vis')).css({'display': 'none'});
			}
			catch(err){
			;}
			current.css({'text-decoration': 'underline'});
			$('#'+current.attr('id')+'-frame').css({'display': 'block'});
			doc.data('current','#'+current.attr('id'));
			doc.data('current-vis', '#'+current.attr('id')+'-frame');
	}
});
$('#projects').click();
 
{% endblock %}


{% block main_content%}
<div> 
    <div class="container" id="bigcontainer">
        <h1> My Dashboard </h1>
        <div class="row-fluid">
            <div class="span2"> 
                <div id="projects" class="project-tab" > Projects </div>
                <div id="profile" class="project-tab" > Profile</div>
                <div id="messages" class="project-tab" > Messages </div>
                <div id="collab" class="project-tab"> Collaborators </div>
            </div>
            <div class="span10"> 
                <div class="row-fluid">
			        {% include 'pccrportal/modules/projects.html' %}
			        {% include 'pccrportal/modules/newproject.html' %}
			        {% include 'pccrportal/modules/profile.html' %}
			        {% include 'pccrportal/modules/messages.html' %}
			        {% include 'pccrportal/modules/collab.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block additional_scripts %}
		
		$('#pccr-register').on({
    
        'click': function(){
					$.ajax({
  					type: "POST",
  					url: '/pccr/register/',
  					data: $('#login-register-form').serialize(),
						success: function(data){alert(data);},
  					dataType:'text' 
					});
        	return false;
        }
    });
		
{% endblock %}


