{% extends 'skeleton_template.html' %}


{% block main_content%}
<div class="proj-wrapper container-fluid">
	<div id="title-wrap" class="container">
		<h1 id='title'>{{ title }}</h1>
		<h3> {{ institution }} </h3>
		<p>{{ researchers }}</p>
	</div>
	<div class="row-fluid" style="margin-top: 1%">
		<div class="span6 content-block scroller">
			<div class="content-block">
				{{ description }}
			</div>
            <div class="content-block">
                <div class="row-fluid">
                    <div class="span3"> <b>Extracted Entities</b> <i>(for sake of simplicity, we do not show entity types. However, we note that they will be used in matching)</i>.</div>
                    <div class="span9">
                        {% for tag in tags %}
                            {{tag|title}},
                        {% endfor %}
                    </div>
                </div>
            </div>
		</div>
		<div class="container span6 content-block">
		{% block content %}
			{% for match in matches%}
				<div class="content-block">	
					<div class="row-fluid">
						<div class="span4 content-block">
							{% include 'includes/user_modal.html' %}
							<a data-toggle="modal" href="http://ec2-50-17-198-95.compute-1.amazonaws.com/memed/user/profile/{{match.uid}}" target="_blank" class="btn btn-primary btn-large">{{match.name}}</a>
						</div>
						<div class="span8 content-block">
							{{match.topic}}
						</div>
					</div>
				</div>
			{% endfor %}
		{% endblock %}
		<script>
			$(document).ready(function() {
				$('#mymodal').bind('show', function () {
					document.getElementById ("xlInput").value = document.title;
					});
				});
			function closeDialog () {
				$('#mymodal').modal('hide'); 
				};
			function okClicked () {
				document.title = document.getElementById ("xlInput").value;
				closeDialog ();
				};
		</script>
		</div>
	</div>
</div>

{% endblock %}
