{% include  'includes/nav.html' %}
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/study.css">


<div class="proj-wrapper container-fluid">
	<div id="title-wrap">
		<h1 id='title'>{{ title }}</h1>
		<h3> {{ institution }} </h3>
		<p>{{ researchers }}</p>
	</div>
	<div class="row-fluid" style="margin-top: 1%">
		<div class="span6 content-block scroller">
			<div class="content-block">
				<img src="/static/img/wall.jpg"></img>
			</div>
			<div class="content-block">
				{{ description }}
			</div>
		</div>
		<div class="container span6 content-block">
		{% block content %}
			{% for match in matches%}
				<div class="content-block">	
					<div class="row-fluid">
						<div class="span4 content-block">
							{% include 'includes/user_modal.html' %}
							<a href="#mymodal" role="button" class="btn" data-toggle="modal">{{match.name}}</a>
							<script>
								$('#myModal').modal('toggle')
							</script>
						</div>
						<div class="span8 content-block">
							{{match.topic}}
						</div>
					</div>
				</div>
			{% endfor %}
		{% endblock %}
		</div>
	</div>
</div>
