.landing{
background-color: #F2F2F2; border-radius: 10px; height: 100%; 
}

.promo-text{
text-align: justify; font-size: 2em; margin-top: 20px;left: 10px; 
}

body{
	color:#333;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size:15px;
	background: url(/static/img/noise.592656.png) #edebde;
}

a{
	color:#5686ac;
}

/* Researcher Home 
/* PROJECTS */
.project-tab{
	margin-bottom: 4%;
    margin-left: 4%;
    height: 5%;
    padding-top: 20%;
	cursor: pointer;
    text-align: center;
    color: white;
   	border-radius: 5px;
}

.project-label{
    padding: 1%;
    height: auto;
	cursor: pointer;
    background: #04376C;
    color: white;
   	border-radius: 5px;
}

.user-tabs{
    display: none;
}

#bigcontainer{
	width: 80%; 
	min-height:350px; 
	color: white; 
	background: rgba(19,19,19,0.8); 
	padding: 2%;
}

#projects{background: #00A779;}
#profile{background: #0C58A6;}
#messages{background: #FF9900;}
#collab{background: #FF5C00;}

#projects-frame{
	padding: 1%;
	height: auto; 
	width: auto;
	background: #909090;
	border-radius: 5px;
}

#new-project{
	width: auto;
	background: #FFC773;
	padding:2%;
	border-radius: 5px;
}

.new-row{
	height: auto; 
	margin-top: 2%;
}

.project-desc{
	color: white;
	font-size: 16px;
	cursor: pointer;

}

.project_desc a.hover{
	color: inherit;
}

.options{
	margin-top: 10%;
}

/* NEW PROJECT MODAL */
.modal-header{
	background: white;
	color: black;
}

#add-project-modal .modal-body {
	/*max-height: 900px;*/
	/*width: 50%; */
	height: auto;
	overflow: auto;
	color: black;
}

/* PROFILE */
#profile-frame{
	width: 90%; 
	height:auto;	
	color: white; 
	padding: 2%;
	background: #909090;
}

#name{font-size: 24;}

/* Homepage */
section.body {
	background: url(/static/img/noise.592656.png) #edebde;
	position: relative;
	display: block;
	width: 100%;
}

hr.soften {
height: 1px;
margin: 54px 0;
background-image: -webkit-linear-gradient(left,transparent,rgba(0,0,0,.1),transparent);
background-image: -moz-linear-gradient(left,transparent,rgba(0,0,0,.1),transparent);
background-image: -ms-linear-gradient(left,transparent,rgba(0,0,0,.1),transparent);
background-image: -o-linear-gradient(left,transparent,rgba(0,0,0,.1),transparent);
border: 0;
}

input[class=input-large] {
  width: 96%;
  height: 70px ;
  margin-bottom: 10px;
  line-height: 30px;
  padding: 15px 20px;
  font-size: 2em;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
	}



/* imported from study */
/* Study Page */
.proj-wrapper{
	padding: 1%;
	height:100%;
	margin-top: -20px;
}

#title-wrap{
	background: rgba(0,0,0,0.6);
	color: white;
	padding: 1%;
}

.content-block{
	/*margin-top: 2%;*/
	background: rgba(0,0,0,0.6);
	color: white;
	padding: 1%;
	height:auto;
	border: 1px solid black;
}

.scroller{
	overflow: auto;
}

/* Modal */
.recommender-box{
	border-top: 1px solid rgba(0,0,0,0.4);
	padding-top: 2%;
}

/*
section.body:after{
	position: absolute;
	width: 100%;
	height: 44px;
	z-index: 1;
	content: ' ';
	background: url(/static/img/landing_header_shadow.592656.png) top center no-repeat;
	top: 407px;
}
*/
