/* Study Page */
.proj-wrapper{
	padding: 1%;
	height:100%;
	margin-top: -20px;
}

#title-wrap{
	background: rgba(0,0,0,0.6);
	color: white;
	padding: 1%;
}



.content-block{
	/*margin-top: 2%;*/
	background: rgba(0,0,0,0.6);
	color: white;
	padding: 1%;
	height:auto;
	border: 1px solid black;
}

.scroller{
	overflow: auto;
}

/* Modal */

.recommender-box{
	border-top: 1px solid rgba(0,0,0,0.4);
	padding-top: 2%;
}
