/* Study Page */
.proj-wrapper{
	padding: 1%;
	height:100%;
	background: rgba(30,30,30,0.3);

}

#title-wrap{
	background: rgba(0,0,0,0.6);
	min-height: 15%;
	color: white;
	padding: 2%;
}

#title{
	margin-top: 60px;
}

.content-block{
	/*margin-top: 2%;*/
	background: rgba(0,0,0,0.6);
	color: white;
	padding: 2%;
	height:auto;
	border: 1px solid black;
}

.scroller{
	overflow: auto;
}

/* Modal */

.recommender-box{
	border-top: 1px solid rgba(0,0,0,0.4);
	padding-top: 2%;
}