<div style="background: #EEE; color: #000; padding-top: 1%; border-radius: 10px;">
							<h4> New to Me-Med? </h4>
							<hr class="soften"/>
							<form action="/memed/registerme/" method="POST">
									{% csrf_token %}
									<div class="row-fluid">
										<div class="input-prepend">
											<span class="add-on">@</span>
											<input class="span12" id="prependedInput"
													type="text" name="email" placeholder="Username">
										</div>		
									</div>
									<div class="row-fluid">
										<div class="input-prepend">
												<span class="add-on"><i class="icon-lock"></i></span>
											<input class="span12" id="prependedInput"
													type="password" name="password" placeholder="Password">
											
										</div>
										
									</div>
									<div class="row-fluid">
										<div class="input-prepend">
												<span class="add-on"><i class="icon-lock"></i></span>
											<input class="span12" id="prependedInput"
													type="password" placeholder="Password">
											
										</div>
										
									</div>
									<div class="row-fluid" style="padding-left: 18%;
											padding-bottom: 5px;">
										<div class="span6" >
												<a href=""><button class="btn btn-small btn-primary
																">Connect with Facebook </button>
												</a> 
										</div>
										<div class="span3">
												<a href=""><button type="submit" class="btn btn-small
																btn-info">Register</button>
												</a>
											</div>
									</div>
							</form>
						</div>

