{% extends 'skeleton_template.html' %}

{% block main_content%}
<div class="container" style="margin-top: 80px">
    <div>
        <h1>Researcher Registration</h1>
        <h3>Thanks for Joining Us!</h3>
    </div>
    <div class="control-group">
        <label for="textinput1">
        Please enter your PCORI URL
        </label>
    <input name="textinput1" type="">
    </div>
    <div class="control-group">
    </div>
    <div class = "control-group">
        <a class="btn" href="#">Click Me</a>
    </div>
</div>
{% endblock %}