{% extends 'includes/page_header.html' %}
{% block forum_content %}
	<div class="container-fluid wrapper">
		<div class="blackbox">
			<div class="container">
				<div class="topic" id="head">
					TOPICS
				</div>
			</div>
			<div class="container new-topic">
				<div class="row-fluid">
						<div class="span4 topic"> EPILEPSY </div>
						<div class="span8 topic-info"> 10 topics 431 posts </div>
				</div>
				<div class="row-fluid interact">
						<div class="span4"> Reply </div>
						<div class="span4"> Share </div>
						<div class="span4"> Save</div>
				</div>
			</div>
			<div class="container new-topic">
				<div class="row-fluid">
						<div class="span4 topic"> DIABETES </div>
						<div class="span8 topic-info"> 10 topics 431 posts </div>
				</div>
				<div class="row-fluid interact">
						<div class="span4"> Reply </div>
						<div class="span4"> Share </div>
						<div class="span4"> Save</div>
				</div>
			</div>
			<div class="container new-topic">
				<div class="row-fluid">
						<div class="span4 topic"> MULTIPLE SCLEROSIS </div>
						<div class="span8 topic-info"> 10 topics 431 posts </div>
				</div>
				<div class="row-fluid interact">
						<div class="span4"> Reply </div>
						<div class="span4"> Share </div>
						<div class="span4"> Save</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
