{% extends 'includes/page_header.html' %}
{% block forum_content %}
	<div class="container-fluid wrapper">
		<div class="container-fluid blackbox">
			<div class="container-fluid" id="head">
				<h1>TOPICS</h1>	
			</div>
			<div class="row-fluid topic-wrap">
				<div class="span4 topic">
					<h3>Multiple Sclerosis</h3> 
				</div>
				<div class="span8 topic-info"> 
					<p>10 topics 431 posts</p> 
				</div>
			</div>
			<div class="row-fluid postings">
				<div class="span4 post-title">
					Recent CIS, what are my chances of developing MS?
				</div>
				<div class="span8 post-content">
					I recently had an attack that made my fingers numb. After running some tests in the hospital, doctors determined that I may have had a Clinically Isolated Syndrome of MS. How many of you have had a single attack and no more? What are my chances of developing full-blown MS?
				</div>
			</div>
			<div class="row-fluid interact">
				<div class="span4"> Reply </div>
				<div class="span4"> Share </div>
				<div class="span4"> Save</div>
			</div>
			<div class="row-fluid postings">
				<div class="span4 post-title">
					Recent CIS, what are my chances of developing MS?
				</div>
				<div class="span8 post-content">
					I recently had an attack that made my fingers numb. After running some tests in the hospital, doctors determined that I may have had a Clinically Isolated Syndrome of MS. How many of you have had a single attack and no more? What are my chances of developing full-blown MS?
				</div>
			</div>
			<div class="row-fluid interact">
				<div class="span4"> Reply </div>
				<div class="span4"> Share </div>
				<div class="span4"> Save</div>
			</div>
			<div class="row-fluid topic-wrap">
				<div class="span4 topic">
					<h3>Epilepsy</h3> 
				</div>
				<div class="span8 topic-info"> 
					<p>10 topics 431 posts</p> 
				</div>
			</div>
			<div class="row-fluid postings">
				<div class="span4 post-title">
					Recent CIS, what are my chances of developing MS?
				</div>
				<div class="span8 post-content">
					I recently had an attack that made my fingers numb. After running some tests in the hospital, doctors determined that I may have had a Clinically Isolated Syndrome of MS. How many of you have had a single attack and no more? What are my chances of developing full-blown MS?
				</div>
			</div>
			<div class="row-fluid interact">
				<div class="span4"> Reply </div>
				<div class="span4"> Share </div>
				<div class="span4"> Save</div>
			</div>
			<div class="row-fluid topic-wrap">
				<div class="span4 topic">
					<h3>Diabetes</h3> 
				</div>
				<div class="span8 topic-info"> 
					<p>10 topics 431 posts</p> 
				</div>
			</div>
			<div class="row-fluid interact">
				<div class="span4"> Reply </div>
				<div class="span4"> Share </div>
				<div class="span4"> Save</div>
			</div>

		</div> <!-- end blackbox -->
	</div> <!-- end wrapper -->
{% endblock %}
