{% extends 'includes/page_header.html' %}
{% block forum_content %}
	<div class="container-fluid wrapper">
		<div class="blackbox">
			<div class="container">
				<div class="row-fluid">
						<div class="span3 topic"> EPILEPSY </div>
						<div class="span9 topic-info"> 10 topics 143 posts </div>
				</div>
				<div class="row-fluid interact">
						<div class="span4"> Reply </div>
						<div class="span4"> Share </div>
						<div class="span4"> Save</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
