<html>
	<body>

		<div style="position: fixed; top: 10px; left: 10px; width: 500px; height: 500px; background: black">
			<div style="position: absolute; top: 20px; left: 20px; width: 460px; height: 460px; background: red">
				<div style="position:absolute; top: 20px; left: 20px; width: 200px; height: 460px; background: blue;">
				</div>
				<div style="position:absolute; top: 20px; left: 220px; width: 460px; height: 460px; background: green;">
				</div>
			</div>
<div style="position: absolute; top: 20px; left: 480px; width: 460px; height: 460px; background: red">
				<div style="width: 200px; background: blue; float: left;">
					HHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello Worldello World
				</div>
				<div style="float: left; width: 260px; background: green;">
					Hello Dolly
				</div>
			</div>

		</div>

	</body>


</html>
