<html>
	<head>
		<title> Platform for Patient Centric Collaborative Research </title>

		<!-- CSS includes -->
		<link rel="stylesheet" href="/static/css/bootstrap.css">
	</head>

	<body style="position: fixed; top: 0px; left: 0px; width: 100%;background-color: white; height: 1000px;">

		<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Platform for Patient Centric Collaborative Care</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
            </ul>
						<!-- 
						Not sure if we will need login here or if we need to have a login widget here. 
						Commenting for now -->
						<!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
						</form> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


		<div class="hero-wrapper container" style="width: 100%; background:url('/static/img/main_bg.jpg');">

			<div class="container" style="position: relative; top: 10px;">

  	    <!-- Main hero unit for a primary marketing message or call to action -->
				<div class="hero-unit" style="background: black; opacity: 1; color: white;">
					<div ><h1>Platform for Patient Centric Collaborative Care</h1></div>
        		<p> Connecting researchers and participants to realize patient centric outcomes easier.</p>
        		<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
					</div>
				</div><!-- end hero-unit-->
			</div><!-- end container -->
		</div><!-- end hero-wrapper-container-->


	<div class="container">
			<div class="row-fluid" style="height: 400px;"> 
				<div class="participant-title span3" style="height: 100%"> <h1>Participant</h1></div>
				<div class="participant-landing span9" style="background: orange; height: 100%"> Rest of the stuff goes here </div>	
			</div><!-- end participant-container row-fluid-->

	<div class="hero-unit"> <div> <h1> Researcher</h1></div></div>


      <!-- Example row of columns -->
					<div class="row-fluid" style="text-align: center">
						<div class="span12"
					</div>
					<div class="row-fluid">
        		<div class="participant span6" style="color: white; text-align: center; ">
          		<h2>Participants</h2>
							<p>This is where the sample text will go.</p>
							<p><a class="btn btn-large btn-danger" href='#'>I'm ready to participate!</a></p>
						</div> <!-- closes participant -->
        	<div class="researcher span6" style="color: #111; text-align: center;background-color: #BBBBBB">
						<div class="researcher-icon-wrapper row">
							<div class="span2"></div>
							<div class="span2"><img src='http://icons.iconarchive.com/icons/banzaitokyo/medico/64/caduceus-icon.png'/></div>
							<div class="span2"></div>
						</div><!-- closes researcher-icon-wrapper -->
						<h2>Researchers</h2>
          	<p>This is where some more sample text will go.</p>
						<p><a class="btn btn-large btn-success" href='#'>I'm ready to start matching!</a></p>
					</div><!-- closes researcher span6-->
				</div><!-- closes researcher row wrapper -->


			 <!-- 
			 <div class="span4"> 
					<div style="background: url('/static/img/insights.jpg'); width: 250px; height: 188px;">
						<div style="background: black; position: relative; top: 128px; left: 0px; width: 100%; height: 60px;color: white;opacity: 0.6">Better Insights. Better Research</div>
						</div>
					</div>
					<div style="color: white">
						Targeted insights to aid better research. Lame text that should be changed!
          	<p><a class="btn btn-success" href="#">Learn more about Insights</a></p>
					</div>
				</div> -->
			</div>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>

  </body>

	</body>
</html>
