<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Patient Centric Collaborative Research<a>
			<ul class="nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div>
		<h1>Researcher Registration</h1>
		<h3>Thanks for Joining Us!</h3>
	</div>
	<div class="control-group">
		<label for="textinput1">Please enter your PCORI URL</label>
		<input name="textinput1" type="">
	</div>
	<div class="control-group">
		<label for="textinput1">Select a Username</label>
		<input name="textinput1" type="">
	</div>
	<div class="control-group">
		<label for="textinput1">Select a Password</label>
		<input name="textinput1" type="">
	</div>
</div>
