<html>
	<head>
		<title> {{ title }} </title>
		<!-- CSS includes -->
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/pccr_main.css">
		<script src="/static/js/jqm-191.js"></script>
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("6ed4677537f06038f530cf2888369e37");</script><!-- end Mixpanel -->
	<script src="/static/js/bootstrap.min.js"></script>
		<script language="javascript">
				{% block script_includes %}
				{% endblock %}

				$(document).ready(function(){
					mixpanel.track('page loaded');
					{% block on_load_script %}
					{% endblock %}
				});
		</script>	

	</head>
	<body style="top: 0px; left: 0px; width: 100%;height: 1000px;">
		{% if show_nav %}
			{% include  'includes/nav_bar_login.html' %}
		{% endif %}
		<section class="body">
			{% block main_content %} {% endblock %}
			<!-- <footer style="text-align: center">
				<p>&copy; Accenture Technology Labs 2012</p>
				</footer> -->
		</section>
            <!-- Le javascript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="/static/js/ajax-helper.js"></script>
						<script language="javascript">
							{% block additional_scripts %}

							{% endblock%}
						</script>
        </body>
	</body>
</html>
