<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Platform for Patient Centric Collaborative Research</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="{{link_class_home}}"><a href="/">Home</a></li>
                    <li class="{{link_class_about}}"><a href="/about">About</a></li>
                </ul>
				<!-- Not sure if we will need login here or if we need to have a login widget here. 
				Commenting for now -->
				<!-- <form class="navbar-form pull-right">
                <input class="span2" type="text" placeholder="Email">
                <input class="span2" type="password" placeholder="Password">
                <button type="submit" class="btn">Sign in</button>
				</form> -->
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

