<div id="project-frame" class="user-tabs" style=" height:
		auto; width: 100%; margin: 10px;">
    <div class="row-fluid" style="height: 120px;">
        <div id="new-project" class="span1 project-desc">
            <div> <h1> + </h1> </div>
            <div>  <a href="#add-project-modal" data-toggle="modal">Add New Project</a></div>
        </div>
		{% if project_list %}
			{% for project in project_list %}
                <div class="span3 project-label">
                    <div> 
                        <a href="/pccr/project/{{project.id}}" class="project-desc">{{project.project_title}} </a>
                    </div>
                    <div class="row-fluid"> 
                        <div class="span6">Posted on </div>
                        <div class="span6">Matched patients</div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"3" %}
                    </div>
                    <div class="row-fluid" style="height: 100px;">
                {% endif %}
			{% endfor %}
		{% endif %}
    </div>
</div>
